.statlist {
  list-style-type: none;
  
  
}

.statlist li{
  font-decoration: bold;
  font-size: 1.5em;
  margin-top: 20px;
  
}

.statlist li ul li{
  margin-left:4em;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-decoration: none;
  font-size: .8em;
  list-style-type: none;
  border-left: 2px solid #0066cc;
  margin-top: 0px;
}

#inner {
    display: table;
    margin: 0 auto;
}